// Color Variables
$primary-color: #7d5a9b;
$text-color: #7a5a33;
$text-color-dark: #50306a;
$body-color: #b09ec9;
$border-color: #d2a74a;
$black: #000;
$white: #fff;
$light: rgb(223, 223, 223);

$primary-gradient: linear-gradient( 27deg, #4f2f6a 0%, #b09ec9 100%);

// Font Variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';